*{
    margin: 0;
    padding: 0;
  }

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

header{

padding: 10px 0px;
}

.header_wrapper{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}

.logo{

width: 20%;
}

.logo img{
    
}

.unsubscribe{

width: 20%;

/* text-decoration: none; */
}

.unsubscribe a{
    
text-decoration: none;
    
color: #97999b;
    
font-size: 16px;
font-family: 'Roboto', sans-serif;
}

.banner{
    background-image: url(../images/background.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    /* background-size: cover;
    background-position: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;

}
.banner p{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    
}
.banner button{
    background-color: #fb6e52;
    padding: 15px 40px;
    border: none;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: .4s all ease-in-out;

}

.banner button:hover{
    background-color: #f32d06;
}

.banner button i{
    transition: .4s all ease-in-out;
}

.banner button:hover i{
    margin-left: 3px;
}

.feature_section{
    padding: 80px 0;

}

.feature_wrapper{
    width: 80%;
    margin: auto;


}

.feature{
    display: flex;
    justify-content: space-between;
}
.feature_item{
    width: 30%;
    text-align: center;

}
.feature_item h3{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;

}
.feature_item p{
    font-family: 'Roboto', sans-serif;

}
.icon{
    height: 60px;
    width: 60px;
    background-color: #fb6e52;
    color: #fff;
    font-size: 35px;
    line-height: 60px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.qoute{
    margin-top: 40px;
    width: 80%;
    margin: 40px auto 0;
}

.qoute h1{
    text-align: center;
    font-style: italic;
    font-weight: 100;
    color: #fb6e52;
    
    
}

  .content{ 

    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;

  }

  .content_galary{

  }
  .cool{

  }
  .cool img{
    width: 90%;
    
  }
  .cool h4{
    
text-align: center;
    
padding-top: 15px;
font-family: 'Roboto', sans-serif;
  }
  .cool h5{
    
text-align: center;
    
padding-top: 5px;
    
color: #97999b;
    
padding-bottom: 50px;
  }

  .blog_section{
    background-color: #f0f0f0;
    padding: 80px 0px;
  }
  .blog_section h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .blog_image{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    
  }

  .web_design img{
    padding-top: 100px;
    width: 90%;
    margin: auto;
  }
  
  .web_design h4{
    color: #fb6e52;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
  }
  .web_design p{
    color: #97999b;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
  }

  footer{
    background-color: #282828;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer_icon{

     display: flex;
  }
  .footer_icon img{
    
padding-right: 20px;
  }

  .footer_icon p{
    color: #626262;
    padding-top: 10px;

  }
  
  .social_icon{
  
  }
  .social_icon ul{
      display: flex;
      list-style: none;
      
      
  }
  .social_icon ul li{
      
  }
  .social_icon ul li a{
      color: #fff;
      margin-left: 15px;
      text-decoration: none;
    }